* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 15px 150px;
    padding-bottom: 75px;
}

.top-bar {
    display: flex;
    margin-bottom: 75px;
}

.top-bar > h2 {
    flex: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 30px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero > * {
    flex: 1;
}

.hero-image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-statement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-statement > * {
    flex-grow: 0;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 7.5px;
    border: none;
    color: #FFFFFF;
    padding: 7.5px 20px;
    width: 100px;
    font-weight: 600;
}

.random-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 150px;
}

.random-section > h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.labeled-images {
    display: flex;
    gap: 40px;
}

.labeled-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.labeled-image > .image {
    border: 4px solid #3882F6;
    border-radius: 10px;
    flex: auto;
    height: 200px;
    width: 200px;
}

.labeled-image > p {
    text-align: center;
    color: #1F2937;
    padding: 7.5px 5px;
}

.quote-section {
    padding: 90px 210px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-section > blockquote {
    max-width: 780px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.citation {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.call-to-action-section {
    padding: 75px 150px;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    padding: 30px 100px;
    border-radius: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 40px 0;
}